<%= form_for(@holding) do |f| %>
  <% if @holding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holding.errors.count, "error") %> prohibited this holding from being saved:</h2>

      <ul>
      <% @holding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :purchase_date %><br />
    <%= f.date_select :purchase_date %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :avg_price %><br />
    <%= f.text_field :avg_price %>
  </div>
  <div class="field">
    <%= f.label :date_sold %><br />
    <%= f.date_select :date_sold %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
